# Default
**/.git
**/.gitignore
**/.dockerignore
**/*.dockerfile
**/Makefile
**/.vscode

# Back and xUnitTest
**/bin
**/obj
**/converagereport

# Front
**/dist
**/tmp
**/out-tsc
**/node_modules
**/.sass-cache
**/npm-debug.log

# System Files
**/.DS_Store
**/Thumbs.db
