mat-card {
    height: 90vh;
    width: 90%;
    overflow: scroll;
}

mat-card-title, .request-card {
    font-family: 'Open Sans', sans-serif !important;
}

mat-card-title {
    font-weight: bold;
    color: #2D2D2D;
}

.request-card {
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    padding: 40px;
}

.request-card-text span {
    color: #23B6CA;
}