<div class="menu">
    <div class="menu-logo"><img src="../assets/logo.png"></div>
    <div class="menu-links">
        <div *ngIf="login.perfil != 1" class="menu-link-item">
            <a routerLink="/ponto">
                <span>Novo Ponto</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/pontos">
                <span>Ver Registros</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/banco">
                <span>Banco de Horas</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a class="this-page" routerLink="/requerimentos">
                <span>Ver Requerimentos</span>
            </a>
        </div>
        <div *ngIf="login.perfil != 1" class="menu-link-item">
            <a routerLink="/requerimento">
                <span>Novo Requerimento</span>
            </a>
        </div>
        <div *ngIf="login.perfil == 1" class="menu-link-item">
            <a routerLink="/usuarios">
                <span>Ver Usuários</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/usuario">
                <span>Editar Perfil</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/logout">
                <span>Sair</span>
            </a>
        </div>
    </div>
</div>
<div class="main-content-full">
    <mat-card>
        <div class="ml-5 mr-5">
            <div class="row mt-5 mb-4">
                <div class="col">
                    <mat-card-title>Todos os requerimentos</mat-card-title>
                </div>
            </div>
            <div class="request-grid">
                <div *ngFor="let r of requerimentos" class="request-card mb-4">
                    <div *ngIf="login.perfil == 1" class="request-card-text"><b>Funcionário:</b> {{ r.usuario.nome }}
                    </div>
                    <div class="request-card-text"><b>Entrada a ser alterada/removida:</b> {{ r.ponto.data | date:
                        'dd/MM/yyyy HH:mm:ss'}}</div>
                    <div class="request-card-text"><b>Descrição da solicitação:</b> {{ r.justificativa }}</div>
                    <div class="request-card-text"><b>Requerimento realizado em:</b> {{ r.dataCriacao | date:
                        'dd/MM/yyyy'}}</div>
                    <div class="request-card-text"><b>Status: </b><span>{{ r.statusString }}</span></div>
                    <div *ngIf="login.perfil == 1 && r.status == 1" class="request-buttons mt-3">
                        <a class="b-accept mr-2" (click)="aprovar(r.id)" mat-button>Aprovar</a>
                        <a class="b-decline" (click)=reprovar(r.id) mat-button>Recusar</a>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>