<div class="menu">
    <div class="menu-logo"><img src="../assets/logo.png"></div>
    <div class="menu-links">
        <div class="menu-link-item">
            <a class="this-page" routerLink="/ponto">
                <span>Novo Ponto</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/pontos">
                <span>Ver Registros</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/">
                <span>Banco de Horas</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/">
                <span>Editar Perfil</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/">
                <span>Sair</span>
            </a>
        </div>
    </div>
</div>