<div class="menu">
    <div class="menu-logo"><img src="../assets/logo.png"></div>
    <div class="menu-links">
        <div class="menu-link-item">
            <a routerLink="/ponto">
                <span>Novo Ponto</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/pontos">
                <span>Ver Registros</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a class="this-page" routerLink="/banco">
                <span>Banco de Horas</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/requerimentos">
                <span>Meus Requerimentos</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/requerimento">
                <span>Novo Requerimento</span>
            </a>
        </div>
        <div *ngIf="login.perfil == 1" class="menu-link-item">
            <a routerLink="/usuarios">
                <span>Ver Usuários</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/usuario">
                <span>Editar Perfil</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/logout">
                <span>Sair</span>
            </a>
        </div>
    </div>
</div>
<div class="main-content-full">
    <div *ngIf="relatorio">
        <p>Saldo Total: {{ relatorio.saldoString }}</p>
        <div style="border: 3px; border-style: double;" *ngFor="let p of relatorio.pontos">
            <div class="inner-sidebar-date">Entrada: {{ p.entrada | date: 'HH:mm:ss'}}</div>
            <div class="inner-sidebar-date">Saída: {{ p.saida | date: 'HH:mm:ss'}}</div>
            <div class="inner-sidebar-date">Jornada: {{ p.jornadaString }}</div>
            <div class="inner-sidebar-date">Tarefa: {{ p.tarefas }}</div>
        </div>
    </div>
</div>