<div class="menu">
    <div class="menu-logo"><img src="../assets/logo.png"></div>
    <div class="menu-links">
        <div *ngIf="login.perfil != 1" class="menu-link-item">
            <a routerLink="/ponto">
                <span>Novo Ponto</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/pontos">
                <span>Ver Registros</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a class="this-page" routerLink="/banco">
                <span>Banco de Horas</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/requerimentos">
                <span>Ver Requerimentos</span>
            </a>
        </div>
        <div *ngIf="login.perfil != 1" class="menu-link-item">
            <a routerLink="/requerimento">
                <span>Novo Requerimento</span>
            </a>
        </div>
        <div *ngIf="login.perfil == 1" class="menu-link-item">
            <a routerLink="/usuarios">
                <span>Ver Usuários</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/usuario">
                <span>Editar Perfil</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/logout">
                <span>Sair</span>
            </a>
        </div>
    </div>
</div>
<div class="main-content-full">
    <mat-card>
        <div *ngIf="relatorio" class="ml-5 mr-5">
            <div class="row mt-5 mb-4">
                <div class="col">
                    <mat-card-title>Saldo total: <span>{{ relatorio.saldoString }}</span></mat-card-title>
                </div>
                <div class="col">
                    <mat-card-title>Pagamento: <span>{{ relatorio.pagamento | currency: "BRL" }}</span></mat-card-title>
                </div>
                <div *ngIf="login.perfil == 1" class="col">
                    <select name="usuarios" [(ngModel)]="usuarioSelecionado" (change)="getPontos()" class="float-right">
                        <option *ngFor="let u of usuarios" [ngValue]="u">{{ u.nome }}</option>
                    </select>
                </div>
            </div>
            <div *ngFor="let p of relatorio.pontos" class="report-card mb-4">
                <div class="report-text"><b>Entrada:</b> {{ p.entrada | date: 'HH:mm:ss'}}</div>
                <div class="report-text"><b>Saída:</b> {{ p.saida | date: 'HH:mm:ss'}}</div>
                <div class="report-text"><b>Jornada:</b> {{ p.jornadaString }}</div>
                <div class="report-text"><b>Tarefa:</b> {{ p.tarefas }}</div>
            </div>
        </div>
    </mat-card>
</div>