<mat-card>
    <mat-card-title><img src="../assets/logo.png"></mat-card-title>
    <mat-card-content>
        <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
            <p>
                <mat-form-field>
                    <input type="text" matInput placeholder="E-mail corporativo" name="login" [(ngModel)]="login.login" required>
                </mat-form-field>
            </p>
            <p>
                <mat-form-field>
                    <input type="password" matInput placeholder="Senha" name="senha" [(ngModel)]="login.senha" required>
                </mat-form-field>
            </p>
            <div class="b-login">
                <button type="submit" mat-button>Entrar</button>
            </div>
        </form>
    </mat-card-content>
    <mat-card-content>
        <div class="b-recover">
            Esqueceu sua senha?<a [routerLink]="['/cadastro-usuario']" mat-button>Redefinir</a>
        </div>
    </mat-card-content>
</mat-card>