mat-card {
    height: 90vh;
    width: 90%;
    overflow: scroll;
}

mat-card-title, input, button {
    font-family: 'Open Sans', sans-serif !important;
}

mat-card-title {
    font-weight: bold;
    color: #2D2D2D;
}

mat-form-field {
    display: block;
}

mat-form-field input {
    padding: 5px;
}

.b-save.mat-button {
    padding: 5px 35px;
    border-radius: 5px;
    background-color: #23b6ca;
    color: #FFFFFF;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
}