/* Column Widths */
.mat-column-nome {
    max-width: 100px;
}
  
.mat-column-telefone {
    max-width: 100px;
}

.mat-column-email {
    max-width: 100px;
}

.mat-column-actions {
    max-width: 40px;
}

mat-card {
    height: 90vh;
    width: 90%;
    overflow: scroll;
}

table, a {
    font-family: 'Open Sans', sans-serif !important;
}

.b-new.mat-button {
    padding: 5px 20px;
    border-radius: 5px;
    color: #23b6ca;
    background-color: #FFFFFF;
    border: 2px solid #23b6ca;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.2s;
}

.b-new.mat-button:hover {
    color: #FFFFFF;
    background-color: #23b6ca;
    border: 2px solid #23b6ca;
    text-decoration: none;
}

a.mat-icon-button:hover {
    color: #23b6ca !important;
}

.loading-shade {
    background-color: rgba(255, 255, 255, 0.5);
}

.loading-shade ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke: #23b6ca;
}