<div class="ml-5">
    <div class="row">
        <div class="col m-3">
            <mat-label>{{acao}} ponto</mat-label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form #form="ngForm" (ngSubmit)="form.valid && onSubmit()">
                <div class="row">
                    <div class="col-4">
                        <mat-form-field>
                            <!-- <mat-label>Data</mat-label>
                            <input matInput placeholder="Data" name="data" type="datetime-local"
                                [(ngModel)]="ponto.data" required> -->

                            <input matInput name="data" [ngxMatDatetimePicker]="picker" placeholder="Data"
                                [(ngModel)]="ponto.data" [disabled]="false" required>
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <ngx-mat-datetime-picker #picker [showSpinners]="true" [showSeconds]="false"
                                [touchUi]="false" [color]="color" [enableMeridian]="false">
                            </ngx-mat-datetime-picker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row mt-2">
                    <div class="col-2">
                        <button type="submit" mat-raised-button>{{acao}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>