/* You can add global styles to this file, and also import other style files */

// html, body { height: 100%; }
// body { margin: 0; font-family: 'Roboto', sans-serif; }

html, body {
    font-family: 'Open Sans', sans-serif !important;
}

::-moz-selection {
    color: #FFFFFF;
    background: #363636;
  }
  
  ::selection {
    color: #FFFFFF;
    background: #363636;
  }

table { width: 99%; }

.float-right { float: right;}

.table-container {
    position: relative;
    min-height: 200px;
}
  
.table-intern-container {
    position: relative;
    max-height: calc(100vh - 60px - 64px);
    overflow: auto;
}
  
.error {
    color: #980000;
    max-width: 360px;
    text-align: center;
}

.loading-shade {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 56px;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-links a, .menu-links a:link, .menu-links a:visited, .menu-links a:active {
    text-decoration: none;
    color: #2D2D2D;
}

.menu-links a:hover {
    text-decoration: none;
    color: #23B6CA;
}

a.this-page {
    font-weight: bold;
}

.topbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    border-bottom: 1px solid #D3D3D3;
}

.menu {
    position: absolute;
    top: 10%;
    left: 0;
    width: 18%;
    min-height: 90%;
    border-right: 1px solid #D3D3D3;
    display: flex;
    justify-content: center;
}

.menu-links {
    text-transform: uppercase;
    margin-top: 50px;
}

.menu-link-item {
    margin-bottom: 20px;
}

.inner-sidebar {
    position: absolute;
    top: 10%;
    left: 18%;
    width: 22%;
    min-height: 90%;
    border-right: 1px solid #D3D3D3;
    display: flex;
    justify-content: center;
}

.inner-sidebar-content {
    width: 80%;
}

.inner-sidebar-date {
    margin-top: 40px;
    color: #2D2D2D;
    font-size: 1.2rem;
}

.inner-sidebar-card {
    margin-top: 30px;
    padding: 20px 40px;
    border: 1px solid #D3D3D3;
    border-radius: 5px;
}

.inner-sidebar-card-time {
    color: #2D2D2D;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.inner-sidebar-card-task {
    color: #443a3a;
    font-size: 1.1rem;
}

.main-content {
    position: absolute;
    top: 10%;
    right: 0;
    width: 60%;
    min-height: 90%;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content-elements {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-content-elements .start.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    background: #23B6CA;
    box-shadow: 0px 2px 39px 11px rgba(0, 0, 0, 0.13);
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1.2rem;
    margin-bottom: 12%;
}

.main-date {
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 29px;
    color: #2D2D2D;
    text-transform: uppercase;
    margin-bottom: 2%;
}

.main-time {
    font-weight: bold;
    font-size: 4.8rem;
    line-height: 98px;
    text-align: center;
    color: #2D2D2D;
    margin-bottom: 8%;
}

.main-task input[type="text"] {
    color: #919191;
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #B0B0B0;
    padding: 5%;
    width: 350px;
}

.main-task input:focus {
    outline: none;
}