<div class="menu">
    <div class="menu-logo"><img src="../assets/logo.png"></div>
    <div class="menu-links">
        <div class="menu-link-item">
            <a routerLink="/ponto">
                <span>Novo Ponto</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a class="this-page" routerLink="/pontos">
                <span>Ver Registros</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/banco">
                <span>Banco de Horas</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/requerimentos">
                <span>Meus Requerimentos</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/requerimento">
                <span>Novo Requerimento</span>
            </a>
        </div>
        <div *ngIf="login.perfil == 1" class="menu-link-item">
            <a routerLink="/usuarios">
                <span>Ver Usuários</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/usuario">
                <span>Editar Perfil</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/logout">
                <span>Sair</span>
            </a>
        </div>
    </div>
</div>
<div class="main-content-full">
    <div class="main-content-elements">
        <div *ngFor="let p of pontos" class="inner-sidebar-content">
            <div class="inner-sidebar-date">{{ p.data | date: 'longDate'}}</div>
            <div class="inner-sidebar-card">
                <div class="inner-sidebar-card-time">{{ p.data | date: 'HH:mm'}}</div>
                <div class="inner-sidebar-card-task">{{ p.tarefa }}</div>
            </div>
        </div>
    </div>
</div>