/* Column Widths */
.mat-column-data {
    max-width: 100px;
}

.mat-column-actions {
    max-width: 40px;
}

.main-content-elements {
    width: 100%;
}

mat-card {
    height: 90vh;
    width: 90%;
    overflow: scroll;
}

mat-card-title, .request-card, a, select {
    font-family: 'Open Sans', sans-serif !important;
}

mat-card-title {
    font-weight: bold;
    color: #2D2D2D;
}

select {
    padding: 5px 10px;
    font-style: italic;
}

.register-card {
    border: 1px solid #D3D3D3;
    border-radius: 5px;
    padding: 30px;
}

.register-date {
    color: #2D2D2D;
    font-size: 1.1rem;
    text-transform: uppercase;
    color: #23B6CA;
}

.register-card-time {
    color: #2D2D2D;
    font-size: 1.5rem;
    font-weight: bold;
}

.register-card-task {
    color: #443a3a;
    font-size: 1.2rem;
    font-style: italic;
}

a.mat-icon-button:hover {
    color: #23b6ca !important;
}

a.mat-icon-button.blue-icon {
    color: #23b6ca !important;
}

a.mat-icon-button.blue-icon:hover {
    color: #1e9aaa !important;
}

.edit-time {
    display: flex;
    align-items: center;
}