<div class="menu">
    <div class="menu-logo"><img src="../assets/logo.png"></div>
    <div class="menu-links">
        <div *ngIf="login.perfil != 1" class="menu-link-item">
            <a routerLink="/ponto">
                <span>Novo Ponto</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a class="this-page" routerLink="/pontos">
                <span>Ver Registros</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/banco">
                <span>Banco de Horas</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/requerimentos">
                <span>Ver Requerimentos</span>
            </a>
        </div>
        <div *ngIf="login.perfil != 1" class="menu-link-item">
            <a routerLink="/requerimento">
                <span>Novo Requerimento</span>
            </a>
        </div>
        <div *ngIf="login.perfil == 1" class="menu-link-item">
            <a routerLink="/usuarios">
                <span>Ver Usuários</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/usuario">
                <span>Editar Perfil</span>
            </a>
        </div>
        <div class="menu-link-item">
            <a routerLink="/logout">
                <span>Sair</span>
            </a>
        </div>
    </div>
</div>
<div class="main-content-full">
    <mat-card>
        <div class="ml-5 mr-5">
            <div class="row mt-5 mb-4">
                <div class="col">
                    <mat-card-title>Todos os registros</mat-card-title>
                </div>
                <div class="col">
                    <select name="usuarios" [(ngModel)]="usuarioSelecionado" (change)="getPontos()">
                        <option *ngFor="let u of usuarios" [ngValue]="u">{{ u.nome }}</option>
                    </select>
                </div>
            </div>
            <div *ngFor="let p of pontos; let i = index">
                <div *ngIf="i == 0 || pontos[i-1].data.day === p.data.day" class="register-date mb-3">{{ p.data | date:
                    'longDate'}}</div>
                <div class="register-card mb-4">
                    <div class="row">
                        <div class="col">
                            <div *ngIf="!p.edit" class="register-card-time">{{ p.data | date: 'HH:mm'}}</div>
                            <div *ngIf="p.edit"><input [(ngModel)]="p.data"></div>
                        </div>
                        <div class="col">
                            <a mat-icon-button (click)="delete(i)" class="float-right">
                                <mat-icon>delete</mat-icon>
                            </a>
                            <a mat-icon-button (click)="p.edit = 1" class="float-right">
                                <mat-icon>edit</mat-icon>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div class="register-card-task">{{ p.tarefa }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </mat-card>
</div>